.bandeau {
    background-color: grey;
    color: black;
	margin: auto;
	text-align: center;
	width: 1300px;
	font-family: montserrat,sans-serif;
}

.body {
    background-color : black;
    color : white;
    margin: auto;
    text-align: center;
    width: 1300px;
    font-family: montserrat,sans-serif;
}

.lien {
	color : white;
}